@font-face {
  font-family: "Glitch";
  src: url("/fonts/Hacked-KerX.ttf");
}

@font-face {
  font-family: "Murder";
  src: url("/fonts/Nightmare.ttf");
}

/*--------------------------*/
/*          Colors          */
/*--------------------------*/

$purple: #4a3282;
$darkPurple: #3b2768;
$orange: #f7b03c;
$blue: #57c7d7;
$hotPink: #ed4172;
$whiteSmoke: #f2f2f2;
$lightPurple: #6657a2;
$darkGrey: #212121;
$mauve: #9280d9;
$green: #27ae60;

/*--------------------------*/
/*          Base            */
/*--------------------------*/

body {
  padding: 0;
  margin: 0;
  color: whiteSmoke;
  background-color: black;
}

a {
  text-decoration: none;
  color: $lightPurple;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  color: white;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

#particles-js canvas {
  display: block;
  vertical-align: bottom;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}

/*--------------------------*/
/*          Layout          */
/*--------------------------*/

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pRelative {
  position: relative;
}

/*--------------------------*/
/*        MainPage          */
/*--------------------------*/

.main_title {
  font-family: "Glitch";
  font-size: 20vh;
}

/*--------------------------*/
/*        CodesPage         */
/*--------------------------*/

.codes_input_1 {
  font-family: "Murder";
  background-color: blue;
  font-size: large;
  color: white;
}

.codes_input_2 {
  font-family: "Murder";
  background-color: red;
  font-size: large;
  color: white;
}

.codes_input_3 {
  font-family: "Murder";
  background-color: green;
  font-size: large;
  color: white;
}

/*--------------------------*/
/*        FirstMedia        */
/*--------------------------*/

.media_background {
  background-image: url("./assets/media.jpeg");
  background-size: cover;
  background-position: center;
}

.media_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2vh;
}

.media_input {
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
  border-color: rgb(81, 98, 175);
  width: 150px;
  height: 20px;
  color: rgb(121, 53, 230);
  text-align: center;
  font-size: 16px;
  font-family: "Murder", Times, serif;
  margin-bottom: 10px;
}

.media_button {
  font-size: 16px;

  font-family: "Glitch", Times, serif;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.63);
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
  border-color: rgb(109, 32, 139);

  &:hover {
    background-color: rgb(109, 32, 139);
    transition: all 0.5s ease-in-out;
  }
}

/*--------------------------*/
/*       FirstPuzzle        */
/*--------------------------*/

.main_background {
  background-image: url("./assets/Urbex-5.jpeg");
  background-size: cover;
}

.link {
  position: absolute;
  width: 200px;
  top: 250px;
  left: 150px;
  backface-visibility: hidden;
}

.formContainer {
  position: absolute;
  top: 310px;
  left: 155px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.puzzle_input {
  background-color: transparent;
  border-style: 1px solid;
  border-radius: 25px;
  border-color: #555;
  width: 150px;
  height: 20px;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 10px;
}
/*--------------------------*/
/*    FirstPuzzleButton     */
/*--------------------------*/

.glow-on-hover {
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 20px;
  font-family: "Murder";
  font-size: 30px;
  text-align: center;
  line-height: 1px;
  padding-top: 5px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(45deg, #000, #fff, #000, #fff, #000, #fff);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 100s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 20px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
  border-radius: 20px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/*--------------------------*/
/*         FlipCard         */
/*--------------------------*/

.scene {
  width: 100%;
  height: 100%;
  perspective: 600px;
}

.card {
  width: 500px;
  height: 660px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  background-image: url("./assets/e0h4ecd81330e6e19hr70m34uj-f403cf28d3f3d00b0763daf54623fba6.png");
  background-size: cover;
  background-position: center;
}

.card__face--back {
  background-image: url("./assets/e0h4ecd81330e6e19hr70m34uj-f403cf28d3f3d00b0763daf54623fba6.png");
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg);
}

/*--------------------------*/
/*        CyberButton       */
/*--------------------------*/

.cybr-btn {
  --primary: hsl(217, 79%, 33%);
  --shadow-primary: hsl(217, 0%, 100%);
  --primary-hue: 0;
  --primary-lightness: 50;
  --color: hsl(0, 0%, 100%);
  --font-size: 26px;
  --shadow-primary-hue: 180;
  --label-size: 9px;
  --shadow-secondary-hue: 60;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(
    0 0,
    100% 0,
    100% 100%,
    95% 100%,
    95% 90%,
    85% 90%,
    85% 100%,
    8% 100%,
    0 70%
  );
  --border: 4px;
  --shimmy-distance: 5;
  --clip-one: polygon(
    0 2%,
    100% 2%,
    100% 95%,
    95% 95%,
    95% 90%,
    85% 90%,
    85% 95%,
    8% 95%,
    0 70%
  );
  --clip-two: polygon(
    0 78%,
    100% 78%,
    100% 100%,
    95% 100%,
    95% 90%,
    85% 90%,
    85% 100%,
    8% 100%,
    0 78%
  );
  --clip-three: polygon(
    0 44%,
    100% 44%,
    100% 54%,
    95% 54%,
    95% 54%,
    85% 54%,
    85% 54%,
    8% 54%,
    0 54%
  );
  --clip-four: polygon(
    0 0,
    100% 0,
    100% 0,
    95% 0,
    95% 0,
    85% 0,
    85% 0,
    8% 0,
    0 0
  );
  --clip-five: polygon(
    0 0,
    100% 0,
    100% 0,
    95% 0,
    95% 0,
    85% 0,
    85% 0,
    8% 0,
    0 0
  );
  --clip-six: polygon(
    0 40%,
    100% 40%,
    100% 85%,
    95% 85%,
    95% 85%,
    85% 85%,
    85% 85%,
    8% 85%,
    0 70%
  );
  --clip-seven: polygon(
    0 63%,
    100% 63%,
    100% 80%,
    95% 80%,
    95% 80%,
    85% 80%,
    85% 80%,
    8% 80%,
    0 70%
  );
  font-family: "Cyber", sans-serif;
  color: var(--color);
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  font-size: var(--font-size);
  outline: transparent;
  letter-spacing: 2px;
  position: relative;
  font-weight: 700;
  border: 0;
  min-width: 300px;
  height: 75px;
  line-height: 75px;
  transition: background 0.2s;
}

.cybr-btn:hover {
  --primary: hsl(
    var(--primary-hue),
    85%,
    calc(var(--primary-lightness, 50) * 0.8%)
  );
}
.cybr-btn:active {
  --primary: hsl(
    var(--primary-hue),
    85%,
    calc(var(--primary-lightness, 50) * 0.6%)
  );
}

.cybr-btn:after,
.cybr-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: var(--clip);
  z-index: -1;
}

.cybr-btn:before {
  background: var(--shadow-primary);
  transform: translate(var(--border), 0);
}

.cybr-btn:after {
  background: var(--primary);
}

.cybr-btn__tag {
  position: absolute;
  padding: 1px 4px;
  letter-spacing: 1px;
  line-height: 1;
  bottom: -5%;
  right: 5%;
  font-weight: normal;
  color: hsl(0, 0%, 100%);
  font-size: var(--label-size);
}

.cybr-btn__glitch {
  position: absolute;
  top: calc(var(--border) * -1);
  left: calc(var(--border) * -1);
  right: calc(var(--border) * -1);
  bottom: calc(var(--border) * -1);
  background: var(--shadow-primary);
  text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
  clip-path: var(--clip);
  animation: glitch 2s infinite;
  display: none;
}

.cybr-btn:hover .cybr-btn__glitch {
  display: block;
}

.cybr-btn__glitch:before {
  content: "";
  position: absolute;
  top: calc(var(--border) * 1);
  right: calc(var(--border) * 1);
  bottom: calc(var(--border) * 1);
  left: calc(var(--border) * 1);
  clip-path: var(--clip);
  background: var(--primary);
  z-index: -1;
}

@keyframes glitch {
  0% {
    clip-path: var(--clip-one);
  }
  2%,
  8% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  6% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  9% {
    clip-path: var(--clip-two);
    transform: translate(0, 0);
  }
  10% {
    clip-path: var(--clip-three);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  13% {
    clip-path: var(--clip-three);
    transform: translate(0, 0);
  }
  14%,
  21% {
    clip-path: var(--clip-four);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  25% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  30% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  35%,
  45% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * -1%));
  }
  40% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * 1%));
  }
  50% {
    clip-path: var(--clip-six);
    transform: translate(0, 0);
  }
  55% {
    clip-path: var(--clip-seven);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  60% {
    clip-path: var(--clip-seven);
    transform: translate(0, 0);
  }
  31%,
  61%,
  100% {
    clip-path: var(--clip-four);
  }
}

.cybr-btn:nth-of-type(2) {
  --primary-hue: 260;
}
